* {
  margin: 0%;
  padding: 0%;
  font-family: 'Poppins', sans-serif;
}
/* start of styling the header */
.headFav {
  height: 90px;
  display: inline-flex;
  width: -webkit-fill-available;
  background-color: #ffffff;
  padding: 15px 10px;
  box-shadow: 0px 4px 10px rgba(128, 128, 128, 0.15);
}
.intro {
  display: inline;
  padding: 10px;
  color: #505050;
  font-size: 30px;
  width: -webkit-fill-available;
  text-align: center;
  padding-right: 50px;
}
.BackB {
  display: inline-block;
  width: auto;
  height: 50px;
  font-size: 45px;
  color: #505050;
}
/* end of styling the header*/

.Container {
  height: 690px;
  width: 330px;
  margin-top: 40px;
  margin-left: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  overflow: auto;
}
.FirstOpject {
  height: 150px;
  width: 150px;
  border-radius: 25px;
  position: relative;
  margin-bottom: 25px;
}
.imgOfOpject {
  height: 150px;
  width: 150px;
  border-radius: 20px;
  margin-top: 0px;
  margin-left: 0px;
  object-fit: fill;
}
.favorite {
  height: 45px;
  width: 45px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  bottom: 0px;
  right: 0px;
}
.ri-heart-line {
  color: #f3b658;
  position: absolute;
  font-size: 25px;
  top: 10px;
  left: 10px;
}

.fa-heart {
  color: #f3b658;
  position: absolute;
  font-size: 25px;
  top: 10px;
  left: 10px;
}
.fa-heart:hover {
  color: darkgoldenrod;
}
