* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

footer
{
    position: absolute;
    bottom: 0;
    position: absolute;
    bottom: 0;
    background-color:#FCE8C0;
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
} 

nav
{
 color:#505050; 
 display: flex;
 justify-content: space-between ;
 font-family: "Poppins", sans-serif;
}

.Favorite
{
    color:#505050;
    font-size: 17px;
    padding: 20px;
    padding-right: 38px;
    padding-top: 27px;
    font-family: "Poppins", sans-serif;
}

.Home
{
    color:#505050;
    font-size: 20px;
    padding: 30px;
    padding-left: 38px;
    padding-top: 27px;
    font-family: "Poppins", sans-serif;
}
a:link
{

    text-decoration:none;
}

a:visited
{
    text-decoration:none;
}

a:hover
{
    text-decoration:none;
}
.ri-home-8-line:before
{
    content: "\ee25";
    top: 15px;
    content: "\ee25";
    position: absolute;
    left:54px;
    font-size: 22px;

}

.ri-heart-3-line:before
{
    content: "\ee0b";
    position: absolute;
    left: 325px;
    top: 15px;
    font-size: 22px;

}
