* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.Header {
  padding: 0px 10px;
  padding-top: 60px;
  display: inline-flex;
  justify-content: center;
  width: -webkit-fill-available;
}
.searchCon {
  display: inline-flex;
  justify-content: space-between;
}

.BackB {
  display: inline-block;
  margin-top: 10%;
}

/* .Search {
  position: relative;
  color: #505050;
  font-size: 25px;
  height: 50px;
  width: 50px;
  background-color: white;
  border: none;
  padding-top: 5px;
} */

.searchInput {
  height: 50px;
  width: 330px;
  text-align: left;
  border-radius: 8px;
  border: 1px solid #bcbcbc;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  padding: 31px;
  padding-top: 34px;
  padding-right: 31px;
  padding-bottom: 31px;
  padding-left: 70px;
}

::placeholder {
  color: #c2b5b5;
  font-size: 24px;
}

.ri-arrow-left-s-line:before {
  font-size: 40px;
  color: #505050;
  content: "\ea64";
}

.ri-search-line:before {
  font-size: 25px;
  color: #c2b5b5;
  position: fixed;
  left: 260px;
  top: 74px;
}

.Container {
  height: 690px;
  width: 330px;
  margin-top: 40px;
  margin-left: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.FirstOpject {
  height: 150px;
  width: 150px;
  border-radius: 25px;
  position: relative;
  margin-bottom: 25px;
}
.imgOfOpject {
  height: 150px;
  width: 150px;
  border-radius: 20px;
  margin-top: 0px;
  margin-left: 0px;
  object-fit: fill;
}
.favorite {
  height: 45px;
  width: 45px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  bottom: 0px;
  right: 0px;
}
.ri-heart-line {
  color: #f3b658;
  position: absolute;
  font-size: 25px;
  top: 10px;
  left: 10px;
}
.ri-heart-line:hover {
  color: darkgoldenrod;
}
.fa-heart{
  color: #f3b658;
  position: absolute;
  font-size: 25px;
  top: 10px;
  left: 10px;
}
.fa-heart:hover{
  color: darkgoldenrod;

}
/* MQ for container for IPAD  */
@media only screen and (min-width: 768px) {
  .Container {
    margin-top: 80px;
    width: 700px;
    height: 770px;
    margin-left: 35px;
  }
  .ri-arrow-left-s-line:before {
    font-size: 40px;
    color: #505050;
    content: "\ea64";
    position: absolute;
    left: 35px;
    top: 65px;
  }
}
/* MQ for container for desktop  */
@media only screen and (min-width: 800px) {
  .Container {
    width: 85%;
    margin-top: 40px;
    margin-top: 48px;
    margin-right: 120px;
    margin-bottom: 20px;
    margin-left: 120px;
  }
  .ri-arrow-left-s-line:before {
    font-size: 40px;
    color: #505050;
    content: "\ea64";
    position: absolute;
    left: 35px;
    top: 65px;
  }
  .ri-search-line:before {
    font-size: 25px;
    color: #c2b5b5;
    position: fixed;
    left: 515px;
    top: 74px;
  }
}
