* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.Heder {
  margin-left: 15px;
  height: 90px;
}
.heythere .SearchB {
  position: relative;
  color: #505050;
  font-size: 25px;
  height: 50px;
  width: 50px;
  background-color: white;
  border: none;
}
.BackB {
  display: inline-block;
  margin-top: 10%;
}
.ri-arrow-left-s-line {
  font-size: 40px;
  color: #505050;
}
.searchInput {
  height: 49px;
  width: 245px;
  padding-left: 75px;
  padding-top: 8px;
  border-radius: 8px;
  margin-top: -15%;
  border: 1px solid #c2b5b5;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

::placeholder {
  color: #c2b5b5;
  font-size: 24px;
}

.Container {
  height: 650px;
  width: 325px;
  margin-top: 40px;
  margin-left: 27px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  overflow: auto;
}
.FirstOpject {
  height: 150px;
  width: 150px;
  border-radius: 25px;
  position: relative;
  margin-bottom: 25px;
}
.imgOfOpject {
  height: 150px;
  width: 150px;
  border-radius: 20px;
  margin-top: 0px;
  margin-left: 0px;
  object-fit: fill;
}
.favorite {
  height: 45px;
  width: 45px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  bottom: 0px;
  right: 0px;
}
.ri-heart-line {
  color: #f3b658;
  position: absolute;
  font-size: 25px;
  top: 10px;
  left: 10px;
}
